<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Paradise_super_systemConnection" connectionString="server=127.0.0.1;user id=root;database=paradise_super_system" providerName="MySql.Data.MySqlClient" />
    <add name="SuperMarketSQLite" connectionString="metadata=res://*/SQLLiteAccess.csdl|res://*/SQLLiteAccess.ssdl|res://*/SQLLiteAccess.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\newTeamwork\Product-Reports\Vendors.db&quot;" providerName="System.Data.EntityClient" />
    <add name="ParadiseSupermarketChainEntities" connectionString="metadata=res://*/ParadiseChainEFModel.csdl|res://*/ParadiseChainEFModel.ssdl|res://*/ParadiseChainEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HRISTO-PC;initial catalog=ParadiseSupermarketChain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>